In [1]:
# the link of the dtaaset: https://www.kaggle.com/datasets/jessemostipak/hotel-booking-demand
# import pandas for data loading and data cleaning
import pandas as pd

In [2]:
# dataset loading
data=pd.read_csv(r'C:\Users\User\Desktop\hotel_bookings.csv')

In [3]:
# show the first 5 rows of the dataset
data.head(5)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03

In [63]:
# The total number of rows and columns present in the dataset
data.shape

(87385, 32)

In [64]:
# persent of data missing
data.isnull().sum()*100/len(data)

hotel                             0.000000
is_canceled                       0.000000
lead_time                         0.000000
arrival_date_year                 0.000000
arrival_date_month                0.000000
arrival_date_week_number          0.000000
arrival_date_day_of_month         0.000000
stays_in_weekend_nights           0.000000
stays_in_week_nights              0.000000
num_of_adults                     0.000000
num_of_child                      0.000000
num_of_babies                     0.000000
meal                              0.000000
country                           0.000000
market_segment                    0.000000
distribution_channel              0.000000
is_repeated_guest                 0.000000
previous_cancellations            0.000000
previous_bookings_not_canceled    0.000000
reserved_room_type                0.000000
assigned_room_type                0.000000
booking_changes                   0.000000
deposit_type                      0.000000
agent                             0.000000
days_in_waiting_list              0.000000
customer_type                     0.000000
adr                               0.000000
required_car_parking_spaces       0.000000
total_of_special_requests         0.000000
reservation_status                0.000000
reservation_status_date           0.000000
lead_time_binned                  6.838702
dtype: float64

In [65]:
# the name of the columns
data.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'num_of_adults', 'num_of_child',
       'num_of_babies', 'meal', 'country', 'market_segment',
       'distribution_channel', 'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'deposit_type', 'agent',
       'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date', 'lead_time_binned'],
      dtype='object')

In [66]:
# checking the duplicate values present in the dataset
data.duplicated().sum()

0

In [67]:
# removing the duplicate values from the dataset
data.drop_duplicates(inplace=True)

In [24]:
data.shape

(87389, 31)

In [68]:
# check the unique values in the agent column
data['agent'].unique()
data[data['agent']==5]

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,num_of_adults,...,deposit_type,agent,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,lead_time_binned
25,Resort Hotel,False,78,2015,July,27,1,2,5,2,...,No Deposit,5,0,Transient,63.60,1,0,Check-Out,2015-07-08,0-100
79,Resort Hotel,False,81,2015,July,27,3,2,6,3,...,No Deposit,5,0,Transient,85.86,0,0,Check-Out,2015-07-11,0-100
155,Resort Hotel,False,82,2015,July,28,5,4,6,2,...,No Deposit,5,0,Transient,63.60,1,2,Check-Out,2015-07-15,0-100
272,Resort Hotel,False,87,2015,July,28,10,2,5,2,...,No Deposit,5,0,Transient,133.83,0,2,Check-Out,2015-07-17,0-100
300,Resort Hotel,False,36,2015,July,28,11,2,5,2,...,No Deposit,5,0,Transient,104.68,1,0,Check-Out,2015-07-18,0-100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74743,City Hotel,True,329,2015,September,37,11,2,3,1,...,Non Refund,5,0,Transient,80.00,0,0,Canceled,2015-02-20,301-400
74815,City Hotel,True,335,2015,September,38,17,0,1,2,...,Non Refund,5,0,Transient,85.00,0,0,Canceled,2015-05-14,301-400
74817,City Hotel,True,335,2015,September,38,17,0,1,1,...,Non Refund,5,0,Transient,75.00,0,0,Canceled,2015-05-14,301-400
74840,City Hotel,True,335,2015,September,38,17,0,1,1,...,Non Refund,5,0,Transient,55.00,0,0,Canceled,2015-05-14,301-400
75011,City Hotel,True,268,2015,July,29,12,2,1,2,...,No Deposit,5,0,Transient,82.00,0,0,Canceled,2015-06-26,201-300

In [70]:
# filling the na values of the agent column with -1 values
data['agent'].fillna(-1,inplace=True)

In [73]:
# drop the missing values present in the 'num_of_child' column
data.dropna(subset=['num_of_child'],inplace=True)
# missing values in the country column is filled with unknown word
data['country'].fillna('unknown',inplace=True)
# check is there any null values present in the dataset
data.isnull().sum()

hotel                                0
is_canceled                          0
lead_time                            0
arrival_date_year                    0
arrival_date_month                   0
arrival_date_week_number             0
arrival_date_day_of_month            0
stays_in_weekend_nights              0
stays_in_week_nights                 0
num_of_adults                        0
num_of_child                         0
num_of_babies                        0
meal                                 0
country                              0
market_segment                       0
distribution_channel                 0
is_repeated_guest                    0
previous_cancellations               0
previous_bookings_not_canceled       0
reserved_room_type                   0
assigned_room_type                   0
booking_changes                      0
deposit_type                         0
agent                                0
days_in_waiting_list                 0
customer_type                        0
adr                                  0
required_car_parking_spaces          0
total_of_special_requests            0
reservation_status                   0
reservation_status_date              0
lead_time_binned                  5976
dtype: int64

In [74]:
# check the data types
data.dtypes

hotel                               object
is_canceled                        boolean
lead_time                            int64
arrival_date_year                    int64
arrival_date_month                  object
arrival_date_week_number             int64
arrival_date_day_of_month            int64
stays_in_weekend_nights              int64
stays_in_week_nights                 int64
num_of_adults                        int64
num_of_child                         int32
num_of_babies                        int64
meal                                object
country                             object
market_segment                      object
distribution_channel                object
is_repeated_guest                  boolean
previous_cancellations               int64
previous_bookings_not_canceled       int64
reserved_room_type                  object
assigned_room_type                  object
booking_changes                      int64
deposit_type                        object
agent                                int32
days_in_waiting_list                 int64
customer_type                       object
adr                                float64
required_car_parking_spaces          int64
total_of_special_requests            int64
reservation_status                  object
reservation_status_date             object
lead_time_binned                  category
dtype: object

In [49]:
data.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'num_of_adults', 'num_of_child',
       'num_of_babies', 'meal', 'country', 'market_segment',
       'distribution_channel', 'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'deposit_type', 'agent',
       'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date'],
      dtype='object')

In [75]:
# converting the 'is_canceled' and 'is_repeated_guest' column into boolean values and 'num_of_child' and 'agent' column into int values
data=data.astype({'is_canceled':'boolean','is_repeated_guest':'boolean','num_of_child':'int','agent':'int'})

In [76]:
# after converting the data types
data.dtypes

hotel                               object
is_canceled                        boolean
lead_time                            int64
arrival_date_year                    int64
arrival_date_month                  object
arrival_date_week_number             int64
arrival_date_day_of_month            int64
stays_in_weekend_nights              int64
stays_in_week_nights                 int64
num_of_adults                        int64
num_of_child                         int32
num_of_babies                        int64
meal                                object
country                             object
market_segment                      object
distribution_channel                object
is_repeated_guest                  boolean
previous_cancellations               int64
previous_bookings_not_canceled       int64
reserved_room_type                  object
assigned_room_type                  object
booking_changes                      int64
deposit_type                        object
agent                                int32
days_in_waiting_list                 int64
customer_type                       object
adr                                float64
required_car_parking_spaces          int64
total_of_special_requests            int64
reservation_status                  object
reservation_status_date             object
lead_time_binned                  category
dtype: object

In [77]:
# creating a column for 'lead_time' to a 'lead_time_binned' column
data['lead_time'].unique
data['lead_time'].describe()

bins=[0,100,200,300,400,500,600,700,800]
labels=['0-100','101-200','201-300','301-400','401-500','501-600','601-700','701-800']
data['lead_time_binned']=pd.cut(data['lead_time'],bins=bins,labels=labels)
data[['lead_time','lead_time_binned']]
data['lead_time_binned'].value_counts()

lead_time_binned
0-100      54037
101-200    18225
201-300     6861
301-400     1944
401-500      266
501-600       62
601-700       12
701-800        2
Name: count, dtype: int64

In [78]:
# check the unique values of the hotel column
data['hotel'].unique()
# string cleaning
# data['hotel']=data['hotel'].replace(r"[\*\n\^]",'',regex=True)

array(['Resort Hotel', 'City Hotel'], dtype=object)

In [59]:
data.head(3)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,num_of_adults,...,deposit_type,agent,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,lead_time_binned
0,Resort Hotel,False,342,2015,July,27,1,0,0,2,...,No Deposit,-1,0,Transient,0.0,0,0,Check-Out,2015-07-01,301-400
1,Resort Hotel,False,737,2015,July,27,1,0,0,2,...,No Deposit,-1,0,Transient,0.0,0,0,Check-Out,2015-07-01,701-800
2,Resort Hotel,False,7,2015,July,27,1,0,1,1,...,No Deposit,-1,0,Transient,75.0,0,0,Check-Out,2015-07-02,0-100

In [80]:
# check the mode value of the agent column
data['agent'].mode()

0    9
Name: agent, dtype: int32

In [25]:
data.shape

(87389, 31)

In [81]:
# rename the 'adults', 'children','babies' columns
data.rename({'adults':'num_of_adults', 'children':'num_of_child', 'babies':'num_of_babies'},axis=1,inplace=True)

In [16]:
data.head(3)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,num_of_adults,...,booking_changes,deposit_type,agent,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,3,No Deposit,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,4,No Deposit,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,0,No Deposit,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02